body{
  margin-bottom: 20rem;
}
footer{
  bottom : 0;
  background-color : #FFF;
  z-index : 1;
}
header {
  background: #222;
  width: 100%;
  padding: 1rem;
  position: relative;
  box-shadow: 0 0 3rem #001e3c;
  margin-bottom: 3rem;
}
header small {
  position: absolute;
  bottom: 1rem;
  line-height: 1;
  margin-left: 17.1%;
  color: #dfdfdf;
}
header h1 {
  color: #a3d1ff;
  top: 3rem;
  letter-spacing: .55rem;
  position: relative;
  font-weight: 300;
  right: 1em;
}
header img{
  max-width: 69%;
  margin-left: 3%;
}
.card header{
  background-color: white;
  box-shadow: none;
  margin-bottom: 1em;
  padding: 0px;
}
.button.primary{
  display: block;
  margin: 1rem 0px 0px 0px;
}
#leafletPreview {
  height: 48rem;
  margin-top: 2rem;
  z-index: 0;
}
#coordinatesCard{
  position: relative;
  width: 100%;
  max-width: var(--grid-maxWidth);
}
.not-visible{
  visibility: hidden;
}
.card footer input[type="button"]{
    display: inline-block;
}
abbr{
  cursor: default;
}
#takeout{
  border: 1px solid black;
}